@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
.header {
  font-family: 'Raleway' serif;
  font-size: 18px;
  font-weight: normal;
  
}
.cover__title {
  font-family: 'Raleway' serif;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

}
.aligned-text {
letter-spacing: 0.3em;

}
.aligned-text_center {
letter-spacing: 0.3em;
}
.aligned-text-right {
  letter-spacing: 0.2em;
}
.word_without__letter-space{
  letter-spacing: 0;
}
.cover__description-text {
  font-family: 'Raleway' serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  color: white;
  word-spacing: 30px;
}