@font-face {
  font-family: Raleway;
  src: url(./Raleway-Regular.woff2) format("woff2"),
    url(./Raleway-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway-Bold.woff2) format("woff2"),
    url(./Raleway-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}

.body {
  font-family: "Raleway" sans-serif;
}

.header {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.header__links-list {
  text-underline-offset: 4px;
}

.header__link {
  text-decoration: none;
}

.address {
  text-underline-offset: 5px;
  line-height: 24px;
  font-style: normal;
}

.cover {
  text-transform: uppercase;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 125px;
  text-transform: uppercase;
  color: white;
}

.aligned-text {
  text-align: start;
}

.aligned-text_center {
  padding-left: 286px;
}

.aligned-text-right {
  text-align: end;
  padding-right: 19px;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.last_letter-spacing-extended {
  letter-spacing: 7px;
}

.first_letter-spacing {
  letter-spacing: 10px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  color: white;
  word-spacing: 18px;
  letter-spacing: 90%;
}

.bet-button {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__menu-link_active {
  text-underline-offset: 4px;
}
