@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
.header {
  font-family: 'Raleway' serif;
  font-size: 18px;
  font-weight: normal;
  
}
.cover__title {
  font-family: 'Raleway' serif;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

}
.aligned-text {
letter-spacing: 0.3em;
text-align:start;
}
.aligned-text_center {
letter-spacing: 0.2em;
}
.aligned-text-right {
  letter-spacing: 0.3em;
  
}
