
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width:100%;
    height:105px;
    margin: 92px 24px 96px;
    justify-content: space-between;
}

.header__menu {
    align-self: center;
    margin-left: 27px;
}

.header__links-list {
    
    display:flex;
    text-wrap: nowrap;
    list-style:circle;
    column-gap: 32px;
}

.header__links-list-item_no-bullit {
    list-style:none;
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    margin-left: 36px;
    margin-right: 194px;
}

.header__logo-image {
width:100%;
}
.address__container {
    width: 240px;
    margin-top: 5px;
   
}

.cover {
    position: relative;
    inset:0;
    z-index: -1;
    width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 179px;
    
}


.overlay {
    position: absolute;
    inset:0;
    z-index: 0;
    background-color: rgb(0 0 0 / 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.cover__title {
    position: absolute;
    inset:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 165px 0px 237px 50px;
    min-width: 1100px;
}
    
.cover__description {
    position: absolute;
    bottom: 50px;
   padding-left: 78px;
   padding-right: 50px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;  
    z-index: 1;
    min-width: 100%;

}
.cover__description-text {
    

}
.bet-button{
    font-family: 'Raleway' serif;
    border: 1px solid;
    padding: 12px 32px;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: rgb( 255 255 255);
    background-color: rgb(255 255 255 / 0);
    
}



.lots { 
   
}
.lots__heading {
padding-left: 64px;
padding-bottom: 27px;

}
.lots__card-list {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    
    list-style: none;
    gap: 25px;
    min-height: 563px;
    
}
.lots__card-list-item{
    width: 334px;
   min-height: 563px;
   
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 563px;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__title {
    position: absolute;
    z-index: 1;
    padding-top: 51px;
    padding-left: 40px;
    padding-right: 40px;
   
}
.card__text {;
    position: absolute;
    z-index: 1;
    padding-left: 40px;
    padding-right: 40px;
    bottom: 48px;
}
.lots__look-more-link-container {
    margin-left: 64px;
    margin-top: 30px;
}
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 136px 1fr;
    margin-top: 146px;
    padding: 0 24px 0;
}
.about__column-text {
    grid-row: 2 / 3;
    grid-column: 2 / 6;
}
.about__logo {
background-color: rgb(0, 0, 0);
background-size: cover;
width: 240px;
height: 240px;
border-radius: 50%;
margin-top: 35px;
margin-right: 72px;
margin-left: 47px;

}
.about__logo-image {
display: block; 
margin: auto;
padding-top: 67px;
width: 60%;
}
.about__title {
margin-bottom: 100px;
}
.about__first_p {
    margin-bottom: 24px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 180px 50px 88px;
    width: 100%;
    align-items: start;
}
.address__container {
    
}
.footer__menu-list {
    list-style: none;
    text-align: center;
}
.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: end;
}
.footer__social-list-item {
    width: 48px;
}