.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  height: 105px;
  margin: 92px 24px 96px;
  justify-content: space-between;
}

.header__menu {
  margin-top: 44px;
  margin-left: 26px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  column-gap: 33px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__logo {
  width: 137px;
}

.header__logo-image {
  width: min-content;
}

.address__container {
  justify-self: end;
  padding-right: 63px;
  padding-top: 6px;
}

.cover {
  position: relative;
  inset: 0;
  z-index: -1;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgb(0 0 0 / 0.6);
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 160px 0px 122px 50px;
  min-width: 1100px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 78px;
  padding-right: 50px;
}

.bet-button {
  border: 1px solid;
  padding: 12px 32px;
  color: rgb(255 255 255);
  background-color: rgb(255 255 255 / 0);
}

.lots__heading {
  padding-left: 64px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  min-height: 563px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 1;
}

.card__text {
  position: relative;
  z-index: 1;
}

.lots__look-more-link-container {
  margin-left: 64px;
  margin-top: 30px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 136px 1fr;
  margin-top: 146px;
  padding: 0 24px 0;
}

.about__column-text {
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  padding-left: 25px;
}

.about__logo {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  display: block;
  margin: auto;
  padding-top: 65px;
  width: 60%;
}

.about__title {
  margin-bottom: 100px;
}

.about__first_p {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 180px 50px 88px;
  align-items: start;
}

.footer__address_container {
  justify-self: start;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}
